
.Servicios_Main_Container{
    display: grid;
    justify-items: center;
    background-image: url("/assets/resources/fondo_servicios.jpg");
    background-size:unset;
    background-position: center; 
    background-repeat: no-repeat; 
    padding-bottom: 40px;
    padding-top: 50px;
}


.Servicios_Main_Container h2{
    font-family:Montserrat;
    font-style:italic;
    font-size: 32pt;
    color:#4c983d;
    font-weight: 800;
    margin-bottom: 30px;

}


.Servicios_List_Container{
    display: grid;
    row-gap: 50px;
    width: 75%;
}


.Servicios_trabajo_text_container{
    margin-left: 20%;
    margin-right: 20%;
}

.Servicios_trabajo_text{
    text-align: justify;
    color:#0f3714;
    font-family: Montserrat;
    font-style:italic;
    font-weight: 500;
    margin: 40px;
}


.Servicios_List_Card{
    background-color: #edeae6;
    width: 100%;
    height: 320px;
    border-radius:20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 30px;
    display: grid;
    align-items: center;
}

.Servicios_List_Card_Img{
    display: grid;
    align-content: center;
    justify-content: center;
}

.Servicios_List_Card_Img img{
    width: 220px;
}

.Servicios_List_Card_Text h3{
    color:#0f3714;
    font-family:Montserrat;
    font-weight: 600;
    font-size: 16pt;
    margin-bottom:20px;
}



.Servicios_List_Card_Text p{
    font-family:Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: #112120;
    text-align: justify;
}


.Servicios_beneficios_list{
    font-family: Montserrat;
    margin-top: 10px;
}

.Servicios_beneficios_list h4{
    color:#618b35;
    font-weight: bold;
}

.Servicios_beneficios_list ul{
    list-style: circle;
}

.Servicios_beneficios_list li{
    font-weight: 500;
    font-family: Montserrat;
    font-size: 13px;
    padding-top: 3px;
}

.ItemIzq{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.ItemDer{
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.text_Izq h2{
    text-align:left;
}

.text_Der h2{
    text-align:left;
}

@media (max-width: 1550px) {
    .Servicios_List_Card{
        height: 400px;
    }
}

@media (max-width: 1200px) {
    .Servicios_List_Card{
        height: 430px;
    }
}

@media (max-width: 1050px) {
    .Servicios_List_Card{
        height: 470px;
    }
}

@media (max-width: 950px) {


    .Servicios_List_Card_Text h2{
        font-size: 14pt;
        text-align: center;
    }


    .Servicios_List_Card_Text p{
        font-size: 12px;
    }

    .Servicios_List_Container{
        width: 90%;
    }

}

@media (max-width: 800px) {
    
    .Servicios_Main_Container{
        background-size:contain;
        background-position:bottom; 
    }

    .Servicios_List_Card{
        height: 500px;
    }


    .ItemIzq{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 3fr;
        grid-template-areas: 
        "img"
        "texto";
        row-gap: 15px;
    }

    .ItemDer{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 3fr;
        grid-template-areas: 
        "img"
        "text";
        row-gap: 15px;
    }

    .Servicios_List_Card_Img{
        grid-area: img;
    }


}

@media (max-width: 690px) {
    .Servicios_List_Card{
        height: 600px;
    }
}

@media (max-width: 590px) {
    .Servicios_List_Card{
        height: 700px;
    }
}



@media (max-width: 460px) {
    .Servicios_List_Card{
        height: 800px;
    }
    .Servicios_trabajo_text{

        margin: 10px;
    }
}

@media (max-width: 380px) {
    .Servicios_trabajo_text{
        text-align: center;
    }
}