/* Estilo principal del Navbar */
.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #edeae6 !important;
    position:fixed !important;
    z-index: 10 !important;
    width: 100% !important;
    height: 130px;
  }
  
  /* Contenedor del Navbar */
.NavbarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
  /* Alinear la marca/imagen */
.NavbarBrand img {
    display: block;
    margin: 0 auto;
    max-width: 100px; /* Ajusta el tamaño de la imagen si es necesario */
}
  
  /* Lista de navegación en fila */
.NavbarList {
    display: flex; /* Cambiar a fila */
    justify-content: center; /* Centrar horizontalmente los ítems */
    align-items: center;
    margin-top: 20px; /* Espacio entre el logo y los ítems */
}
  

.MobileCollapse{
  display: none;
}


.MainNavbarItem{
  text-align: center;
}

.NavbarItem {
    margin: 0 15px;
    font-weight: bold !important;
    text-align: center;
    cursor: pointer;
    color: #36663d !important; 
    font-family: Montserrat;
    font-weight: bold !;
    font-size: 13pt !important;
}

.linkedLI:hover {
    background-color: #e1dcd0 !important;
}

.NavbarCollapse {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 1023px) {


    .NavbarContainer {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .NavbarBrand {
      margin-right: auto;
    }
  
    .NavbarList {
      margin-top: 0;
    }
  
    .NavbarItem {
      font-size: 14px !important;
      width:100% !important;
      margin: 0 !important;

      
    }

    .MobileCollapse{
        display: grid !important; 
        justify-content: center !important;
        border-radius: 0px !important;
        background-color: #eceae6 !important;
        margin-top: -10px !important;
    }
}