/* App.css */
html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Content {
  background-color: #e1dcd0;
  flex: 1;
  margin-top: 130px;
}
